<!-- mailto:apu_student_services -->
<!-- IP address: %ip_address -->
<!-- apply_entry_level: %value[apply_applicant_info][apply_entry_level] -->
<!-- apply_country: %value[apply_personal_details][apply_country] -->
<p><span style="font-size:20px;font-weight:bold;">%value[apply_personal_details][apply_salutation] %value[apply_personal_details][apply_fullname]</span><br/>
<span>Submitted on %date</span></p>
<table style="font-family:sans-serif; font-size:13px; border:0; border-top:solid 1px #aaa; width:100%; border-spacing:0; border-collapse:collapse;">
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Title</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_salutation]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Name</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_fullname]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Gender</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][gender]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Date of birth</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_date_of_birth]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">NRIC / Passport no.</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_ic_passport_no]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Nationality</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_nationality]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Address</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_contact_address]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Town / City</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_city]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">State</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_state]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Country</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_country]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Postcode</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_postcode]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Email</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][e_mail]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Contact no.</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_contact_no]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Fax no.</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_personal_details][apply_fax_no]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Entry level</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_applicant_info][apply_entry_level]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Course(s) Interested</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_applicant_info][apply_courses_interested]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Study mode</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_applicant_info][study_mode]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Highest qualification</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_applicant_info][apply_high_qua_results]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Accomodation requirement</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_applicant_info][apply_accom_require]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Preferred accommodation type</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_applicant_info][apply_accom_type]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Where did applicant first hear about APU</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_applicant_info][apply_where_hear]</td>
</tr>
<tr>
<td style="padding:3px 0; border-bottom:solid 1px #ddd; font-weight:bold;">Other information</td>
<td style="padding:3px 0; border-bottom:solid 1px #ddd;">%value[apply_other_info][apply_other_textarea]</td>
</tr>
</table>
<p>This is an automatically generated email.<br />To view this submission on the APU website: %submission_url (Login required)</p>
